<settings>

	
	<setting propertyKey="@Properties.DataField" title="@Strings.DataField">
		<settingConfig type="list">
			<listEntry value="-1">@Strings.EmptyField</listEntry>
			<listEntry value="0">@Strings.StairsField</listEntry>
			<listEntry value="1">@Strings.HRField</listEntry>
		</settingConfig>
	</setting>
	
	
	<setting propertyKey="@Properties.redrawFullScr" title="@Strings.explainer">
		<settingConfig type="list">
			<listEntry value="0">@Strings.dontdraw</listEntry>
			<listEntry value="1">@Strings.dodraw</listEntry>
		</settingConfig>
	</setting>
	


	
	 <setting propertyKey="@Properties.drawpercentage" title="@Strings.drawpercentage">
		<settingConfig type="boolean">
		</settingConfig>
	 </setting>
	 <setting propertyKey="@Properties.drawgoal" title="@Strings.drawgoal">
		<settingConfig type="boolean">
		</settingConfig>
	 </setting>
	 <setting propertyKey="@Properties.drawsteps" title="@Strings.drawsteps">
		<settingConfig type="boolean">
		</settingConfig>
	 </setting>
	 <setting propertyKey="@Properties.drawpast100perc" title="@Strings.drawpast100perc">
		<settingConfig type="boolean">
		</settingConfig>
	 </setting>
	 
	 
	
	
	
	
	<setting propertyKey="@Properties.timeFont" title="@Strings.timeFont">
		<settingConfig type="list">
			<listEntry value="0">@Strings.defaultFont</listEntry>
			<listEntry value="1">@Strings.biggerFont</listEntry>
			<listEntry value="2">@Strings.massiveFont</listEntry>
		</settingConfig>
	</setting>
	
	<setting propertyKey="@Properties.leadingHourZero" title="@Strings.leadingHourZero">
		<settingConfig type="list">
			<listEntry value="0">@Strings.noLeadingHourZero</listEntry>
			<listEntry value="1">@Strings.leadingHourZero</listEntry>
		</settingConfig>
	</setting>
	<setting propertyKey="@Properties.venuAlwaysOn" title="@Strings.venuAlwaysOn">
		<settingConfig type="boolean">
		</settingConfig>
	</setting>
	
	<setting propertyKey="@Properties.twelveHClock" title="@Strings.twelveHClock">
		<settingConfig type="list">
			<listEntry value="0">@Strings.logicalClock</listEntry>
			<listEntry value="1">@Strings.stupidTwelveHClock</listEntry>
		</settingConfig>
	</setting>
	
	<setting propertyKey="@Properties.dateFont" title="@Strings.dateFont">
		<settingConfig type="list">
			<listEntry value="0">@Strings.smallFont</listEntry>
			<listEntry value="1">@Strings.lessSmallFont</listEntry>
			<listEntry value="2">@Strings.regFont</listEntry>
			<listEntry value="3">@Strings.bigFont</listEntry>
			<listEntry value="4">@Strings.biggerFont</listEntry>
			<listEntry value="5">@Strings.massiveFont</listEntry>
		</settingConfig>
	</setting>
	
	
	
	<setting propertyKey="@Properties.colTime2" title="@Strings.colTime">
		<settingConfig type="list">
			<listEntry value="16777045">@Strings.colSubtYel</listEntry>
			<listEntry value="16776960">@Strings.colVibrYel</listEntry>
			<listEntry value="11184810">@Strings.colLightGray</listEntry>
			<listEntry value="5592405">@Strings.colDarkGray</listEntry>
			<listEntry value="16777215">@Strings.colWhite</listEntry>
			<listEntry value="0">@Strings.colBlack</listEntry>	
			<listEntry value="11141120">@Strings.colSubtRed</listEntry>	
			<listEntry value="16711680">@Strings.colVibrRed</listEntry>	
			<listEntry value="43520">@Strings.colSubtGreen</listEntry>	
			<listEntry value="65280">@Strings.colVibrGreen</listEntry>
			<listEntry value="255">@Strings.colSubtBlue</listEntry>	
			<listEntry value="43775">@Strings.colVibrBlue</listEntry>	
			<listEntry value="16711935">@Strings.colFuchsia</listEntry>				
		</settingConfig>
	</setting>
	
	<setting propertyKey="@Properties.colDate2" title="@Strings.colDate">
		<settingConfig type="list">
			<listEntry value="16777045">@Strings.colSubtYel</listEntry>
			<listEntry value="16776960">@Strings.colVibrYel</listEntry>
			<listEntry value="11184810">@Strings.colLightGray</listEntry>
			<listEntry value="5592405">@Strings.colDarkGray</listEntry>
			<listEntry value="16777215">@Strings.colWhite</listEntry>
			<listEntry value="0">@Strings.colBlack</listEntry>	
			<listEntry value="11141120">@Strings.colSubtRed</listEntry>	
			<listEntry value="16711680">@Strings.colVibrRed</listEntry>	
			<listEntry value="43520">@Strings.colSubtGreen</listEntry>	
			<listEntry value="65280">@Strings.colVibrGreen</listEntry>
			<listEntry value="255">@Strings.colSubtBlue</listEntry>	
			<listEntry value="43775">@Strings.colVibrBlue</listEntry>	
			<listEntry value="16711935">@Strings.colFuchsia</listEntry>				
		</settingConfig>
	</setting>
	
	
	
	<setting propertyKey="@Properties.colAccent2" title="@Strings.colAccent">
		<settingConfig type="list">
			<listEntry value="16777045">@Strings.colSubtYel</listEntry>
			<listEntry value="16776960">@Strings.colVibrYel</listEntry>
			<listEntry value="11184810">@Strings.colLightGray</listEntry>
			<listEntry value="5592405">@Strings.colDarkGray</listEntry>
			<listEntry value="16777215">@Strings.colWhite</listEntry>
			<listEntry value="0">@Strings.colBlack</listEntry>		
			<listEntry value="11141120">@Strings.colSubtRed</listEntry>	
			<listEntry value="16711680">@Strings.colVibrRed</listEntry>	
			<listEntry value="43520">@Strings.colSubtGreen</listEntry>	
			<listEntry value="65280">@Strings.colVibrGreen</listEntry>
			<listEntry value="255">@Strings.colSubtBlue</listEntry>	
			<listEntry value="43775">@Strings.colVibrBlue</listEntry>
			<listEntry value="16711935">@Strings.colFuchsia</listEntry>				
		</settingConfig>
	</setting>
	
	<setting propertyKey="@Properties.colBg2" title="@Strings.colBg">
		<settingConfig type="list">
			<listEntry value="16777045">@Strings.colSubtYel</listEntry>
			<listEntry value="16776960">@Strings.colVibrYel</listEntry>
			<listEntry value="11184810">@Strings.colLightGray</listEntry>
			<listEntry value="5592405">@Strings.colDarkGray</listEntry>
			<listEntry value="16777215">@Strings.colWhite</listEntry>
			<listEntry value="0">@Strings.colBlack</listEntry>	
			<listEntry value="11141120">@Strings.colSubtRed</listEntry>	
			<listEntry value="16711680">@Strings.colVibrRed</listEntry>	
			<listEntry value="43520">@Strings.colSubtGreen</listEntry>	
			<listEntry value="65280">@Strings.colVibrGreen</listEntry>
			<listEntry value="255">@Strings.colSubtBlue</listEntry>	
			<listEntry value="43775">@Strings.colVibrBlue</listEntry>	
			<listEntry value="16711935">@Strings.colFuchsia</listEntry>	
		</settingConfig>
	</setting>
	
	<setting propertyKey="@Properties.colGoal2" title="@Strings.colGoal">
		<settingConfig type="list">
			<listEntry value="16777045">@Strings.colSubtYel</listEntry>
			<listEntry value="16776960">@Strings.colVibrYel</listEntry>
			<listEntry value="11184810">@Strings.colLightGray</listEntry>
			<listEntry value="5592405">@Strings.colDarkGray</listEntry>
			<listEntry value="16777215">@Strings.colWhite</listEntry>
			<listEntry value="0">@Strings.colBlack</listEntry>	
			<listEntry value="11141120">@Strings.colSubtRed</listEntry>	
			<listEntry value="16711680">@Strings.colVibrRed</listEntry>	
			<listEntry value="43520">@Strings.colSubtGreen</listEntry>	
			<listEntry value="65280">@Strings.colVibrGreen</listEntry>
			<listEntry value="255">@Strings.colSubtBlue</listEntry>	
			<listEntry value="43775">@Strings.colVibrBlue</listEntry>	
			<listEntry value="16711935">@Strings.colFuchsia</listEntry>	
		</settingConfig>
	</setting>
	
		<setting propertyKey="@Properties.colGray2" title="@Strings.colGray">
		<settingConfig type="list">
			<listEntry value="16777045">@Strings.colSubtYel</listEntry>
			<listEntry value="16776960">@Strings.colVibrYel</listEntry>
			<listEntry value="11184810">@Strings.colLightGray</listEntry>
			<listEntry value="5592405">@Strings.colDarkGray</listEntry>
			<listEntry value="16777215">@Strings.colWhite</listEntry>
			<listEntry value="0">@Strings.colBlack</listEntry>	
			<listEntry value="11141120">@Strings.colSubtRed</listEntry>	
			<listEntry value="16711680">@Strings.colVibrRed</listEntry>	
			<listEntry value="43520">@Strings.colSubtGreen</listEntry>	
			<listEntry value="65280">@Strings.colVibrGreen</listEntry>
			<listEntry value="255">@Strings.colSubtBlue</listEntry>	
			<listEntry value="43775">@Strings.colVibrBlue</listEntry>	
			<listEntry value="16711935">@Strings.colFuchsia</listEntry>	
		</settingConfig>
	</setting>
	

	

</settings>
